LeagueApp/.idea/compiler.xml
LeagueApp/.idea/gradle.xml
LeagueApp/.idea/libraries/appcompat_v7_21_0_3.xml
LeagueApp/.idea/libraries/support_annotations_21_0_3.xml
LeagueApp/.idea/libraries/support_v4_21_0_3.xml
LeagueApp/.idea/misc.xml
LeagueApp/.idea/modules.xml
LeagueApp/.idea/vcs.xml
LeagueApp/.idea/workspace.xml
LeagueApp/LeagueApp.iml
LeagueApp/local.properties

LeagueApp/

LeagueApp/.gradle/
.gradle/
.gradle
LeagueApp/build/
LeagueApp/build/*
LeagueApp/app/build/
LeagueApp/app/build/*
build/
build/*
build
LeagueApp/app/app.iml
app/app.iml
LeagueApp/app/build/intermediates/
LeagueApp/app/build/intermediates/*
app/build/intermediates/
app/build/intermediates/*
intermediates/
intermediates

*.apk
*.ap_

*.dex

*.class

*.o

bin/
gen/
debug/

LeagueApp/local.properties
local.properties

proguard/

.metadata/

*.DS_Store

LeagueApp/.idea/workspace.xml
LeagueApp/.idea/tasks.xml
LeagueApp/.idea/datasources.xml
LeagueApp/.idea/dataSources.ids
LeagueApp/.idea/libraries/
LeagueApp/.idea/gradle.xml
